Repository COPS-IITBHU/csoc-2021-task-1, pull requests merged in 2021-06, with the labels that each got.

#36 TicTacToe Android
  Android.md
Labels: android

#37 tictactoeByMihir
  Android.md
Labels: android

#73 Ayushigupta931 tic tac toe
  Android.md
Labels: android

#38 TIc Tac Toe Android
  Android.md
Labels: android

#47 Added Repo and APK link
  Android.md
Labels: android

#56 added repo and site link
  WebDev.md
Labels: web

#51 Added repo name,link and site link
  WebDev.md
Labels: web

#45 Update WebDev.md
  WebDev.md
Labels: web

#46 Added Tic Tac Toe
  WebDev.md
Labels: web

#10 Chirayu_Mittal_Tic_Tac_Toe
  Flutter.md
Labels: flutter

#50 Added repository name and link and apk link.
  Flutter.md
Labels: flutter

#43 Added repo and website link
  WebDev.md
Labels: web

#28 msg
  WebDev.md
Labels: web

#44 Tic-Tac-Toe_Debarati
  WebDev.md
Labels: web

#48 Deepak | Tic Tac Toe
  WebDev.md
Labels: web

#41 Added link of repo and site in WebDev.md
  WebDev.md
Labels: web

#40 Harshita's TIC-TAC-TOE Pull Request
  WebDev.md
Labels: web

#53 Added my Flutter Tic Tac Toe Submission
  Flutter.md
Labels: flutter

#68 Added entry in flutter.md
  Flutter.md
Labels: flutter

#67 Parth Gupta Tic Tac Toe
  Flutter.md
Labels: flutter

#69 added submission detail
  Flutter.md
Labels: flutter

#72 Pawan Kumar
  Flutter.md
Labels: flutter

#60 Update Flutter.md
  Flutter.md
Labels: flutter

#2 added repo and site link for task1
  WebDev.md
Labels: web

#3 Added name, repo name and site-link
  WebDev.md
Labels: web

#6 Added Name,Repo Name & Link, and Page link
  WebDev.md
Labels: web

#9 Add my site and repo link
  WebDev.md
Labels: web

#13 Tic-Tac-Toe Game (WebDev)
  WebDev.md
Labels: web

#27 1st commit
  WebDev.md
Labels: web

#31 Added the Sudoku Website for Pratik Mishra.
  WebDev.md
Labels: web

#49 Manali's Sudoku Game
  WebDev.md
Labels: web

#26 Sudoku Web Dev
  WebDev.md
Labels: web

#8 Tic-Tac-Toe by Majesty-12
  WebDev.md
Labels: web
